@media screen and (max-width: 768px) {
    .burger-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .burger-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    .burger-icon {
        width: 30px;
        height: 3px;
        background-color: var(--text-color);
        margin: 3px 0;
        transition: transform 0.3s ease-in-out;
    }

    .title-logo {
        display: flex;
        align-items: end;
        margin-left: auto;
    }

    .title-logo img {
        max-width: 100%;
    }

    .burger-menu h1 {
        margin: 0;
        font-size: 16px;
        margin-right: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 23.36px;
        line-height: 31.81px;
    }

    .burger-menu img {
        width: 30px;
        height: 30px;
    }

    .navbar-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu ul {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        margin-right: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-right {
        display: none;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .navbar-brand h1 {
        display: none;
    }

    header .content {
        flex-direction: column;
    }


    header .text-section,
    header .image-section {
        width: auto;
    }


    header .image-section {
        order: 2;
    }


    header .overlay-img-left {
        position: absolute;
        top: 250px;
        left: -130px;
    }

    header .overlay-img-right {
        position: absolute;
        top: 350px;
        right: -200px;
    }


    header img[src$="topRight.png"] {
        position: absolute;
        right: -100px;
        top: 50px;
    }


    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 300px;
        text-align: center;
    }

    .grey-card,
    .green-card {
        flex: 0 0 100%;
        width: 90%;
        margin: 20px 0;
        padding: 20px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bg-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .first-image,
    .second-image {
        position: static;
        transform: none;
        width: auto;
    }

    .right-text {
        flex-direction: column;
        flex: 1;
        margin-top: 0;
        margin-left: 20px;
    }



}