:root {
    --primary-color: #96C67F;
    --secondary-color: #FFFFFF;
    --text-color: #000000;
    --font-family: 'Open Sans', sans-serif;
    --button-padding: 8px 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin-right: 80px;
}

.navbar-brand {
    position: relative;
}

.navbar-brand h1 {
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32.8px;
    margin-left: 120px;
}

.navbar-brand h1::before,
.navbar-brand h1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.navbar-brand h1::before {
    top: -5px;
    left: 45%;
    transform: translateX(-50%);
}

.navbar-brand h1::after {
    top: -5px;
    left: 78%;
    transform: translateX(50%);
}

.navbar-menu ul {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 16px;
}

.navbar-right img {
    width: 18.71px;
    height: 18.71px;
}

.login-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: var(--button-padding);
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 16px;
}

.register-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--button-padding);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 16px;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #ccc;
}

.news {
    margin-left: 120px;
}

header {
    background-color: #F8F8F8;
    padding: 20px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 80px;
    border-radius: 20px;
    height: 300px;
    position: relative;
}

.content {
    margin-right: auto;
    padding: 50px;
    width: 432px;
}

header h2 {
    font-weight: bold;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 81.71px;
}

header p {
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 21.79px;
}

header img {
    margin-left: auto;
    margin-top: 10px;
    display: block;
}

.image-section {
    position: relative;
    overflow: visible;
}

header img[src$="topRight.png"] {
    position: absolute;
    top: -300px;
    left: 600px;
    z-index: 1;
}

.overlay-img-left,
.overlay-img-right {
    position: relative;
    z-index: 2;
}

.overlay-img-left {
    margin-bottom: 100px;
    left: 400px;
    top: -170px;
}

.overlay-img-right {
    margin-bottom: 100px;
    left: 780px;
    top: -430px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 200px;
    margin-left: 120px;
    margin-right: 80px;
    gap: 10px;
}

.card-content {
    padding: 50px;
}

main h2 {
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 32.68px;
    font-size: 24px;
}

main p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.grey-card,
.green-card {
    width: calc(50% - 5px);
    height: 257px;
    border-radius: 20px;
    margin-bottom: 50px;
    position: relative;
}

.grey-card {
    background-color: #F8F8F8;
}

.green-card {
    background-color: var(--primary-color);
    margin-top: 120px;
}

.grey-card-image,
.green-card-image {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 10px;
    
}

.grey-card-image {
    background-color: var(--primary-color);
}

.green-card-image {
    background-color: #F8F8F8;
}

section {
    margin-left: 120px;
    margin-right: 80px;
    padding-top: 100px;
}

.container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.bg-left {
    background-color: var(--primary-color);
    border-radius: 20px;
    height: 643px;
    width: 100%;
    position: relative;
}

.first-image,
.second-image {
    position: absolute;
}

.first-image {
    height: auto;
    top: 60px;
    left: -49px;
    z-index: 1;
}

.second-image {
    height: auto;
    bottom: 230px;
    left: 130px;
}

.right-text {
    flex-grow: 1;
}

.right-text h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    line-height: 61.28px;
}
.right-text p {
    margin-top: 10px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
article {
    margin-left: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    height: 352px;
}

.avis-container {
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    width: 100%; 
    margin: 20px 100px; 
}

.first-avis, .second-avis {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto auto; 
    gap: 20px;
    align-items: start; 
    background-color: #F8F8F8;
    padding: 20px;
    margin-bottom: 20px;
}

.first-avis img, .second-avis img {
    grid-row: 1 / span 2; 
    place-self: start; 
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.first-avis p, .second-avis p {
    grid-column: 1 / span 2; 
    margin-top: 20px; 
}


.underline {
    position: absolute;
    left: 120px;
    bottom: -1430px;
}

.arrow {
    display: flex;
    justify-content: space-evenly;
    margin-left: -120px;
    margin-top: 80px;
}

article h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 27.24px;
}

article h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: var(--primary-color);
}

article p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

footer {
    background-color: #000000;
    padding: 50px;
    color: var(--secondary-color);
    font-family: var(--font-family);
    height: 414px;
}

footer h1 {
    font-weight: 600;
    font-size: 32.8px;
    line-height: 44.67px;
}

footer p {
    font-weight: 300;
    font-size: 16px;
    line-height: 21.79px;
    letter-spacing: 1px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section {
    margin-right: 20px;
    margin-left: 120px;
}

.image-gallery {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.list-container {
    display: flex;
    margin-right: 200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.list-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}

.list-container ul:last-child {
    margin-right: 0;
}

footer h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32.68px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

.search-bar input {
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 19.07px;
    font-weight: 400;
}

.search-bar button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: var(--button-padding);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    line-height: 19.07px;
    font-weight: 400;
}

.search-bar button:hover {
    background-color: #ccc;
}

.burger-menu {
    display: none; 
}

.burger-icon {
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: transform 0.3s ease-in-out;
}


.navbar-menu {
    display: flex; 
}
.navbar-menu button {
    display: none;
}

.navbar-menu.active {
    display: block;
    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    z-index: 1000;
    padding: 20px;
}
.burger-menu-search-bar {
    display: none; 
    border: 2px solid var(--secondary-color); 
    border-radius: 5px;
    padding: 5px; 
}

.burger-menu-search-bar.active {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-right: 20px; 
    background-color: #F8F8F8;
    width: 90%;
}
/* Lorsque .burger-menu a la classe .active, masquez l'image dans .title-logo */
.burger-menu.active .title-logo img {
    display: none;
}

.burger-menu-search-bar input {
    flex-grow: 1; 
    padding: 8px; 
    border: none; 
    border-radius: 5px;
    margin-right: 5px;
    background-color: #F8F8F8;
}

.burger-menu-search-bar button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.news {
    font-size: 120px; 
    font-family: var(--font-family);
    font-weight: 700;
    color: #F8F8F8;
    line-height: 163.42px;
    position: relative; 
    bottom: -163px; 
    left: 16%; 
    transform: translateX(-50%); 
    padding-bottom: 5px;
    display: inline-block;
}

