* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin-right: 80px;
}

.navbar-brand {
    position: relative;
}

.navbar-brand h1 {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32.8px;
    margin-left: 120px;
}

.navbar-brand h1::before,
.navbar-brand h1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #96C67F;
    border-radius: 50%;
}


.navbar-brand h1::before {
    top: -5px;
    left: 45%;
    transform: translateX(-50%);
}

.navbar-brand h1::after {
    top: -5px;
    left: 78%;
    transform: translateX(50%);
}


.navbar-menu ul {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li a {
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.navbar-right img {
    width: 40px;
    height: auto;
}

.login-btn {
    background-color: #fff;
    color: #96C67F;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.register-btn {
    background-color: #96C67F;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #ccc;
}

.news {
    margin-left: 120px;
}

header {
    background-color: #F8F8F8;
    padding: 20px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 80px;
    border-radius: 20px;
    height: 300px;
}

.content {
    margin-right: auto;
    padding: 50px;
    width: 432px;
}

header h2 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 81.71px;
}

header p {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 21.79px;
}

header img {
    margin-left: auto;
    margin-top: 10px;
    display: block;
}

.image-section {
    position: relative;
    overflow: visible;
}

header img[src$="topRight.png"] {
    position: absolute;
    top: -300px;
    left: 600px;
    z-index: 1;
}

.overlay-img-left,
.overlay-img-right {
    position: relative;
    z-index: 2;
}

.overlay-img-left {
    margin-bottom: 100px;
    left: 400px;
    top: -170px;
}

.overlay-img-right {
    margin-bottom: 100px;
    left: 780px;
    top: -430px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 200px;
    margin-left: 120px;
    margin-right: 80px;
    gap: 10px;
}

.card-content {
    padding: 50px;
}

main h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 32.68px;
    font-size: 24px;
}

main p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

.grey-card,
.green-card {
    width: calc(50% - 5px);
    height: 257px;
    border-radius: 20px;
    margin-bottom: 50px;
    position: relative;
}

.grey-card {
    background-color: #F8F8F8;
}

.green-card {
    background-color: #96C67F;
    margin-top: 120px;
}

.grey-card-image,
.green-card-image {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 1;
    border-radius: 10px;
}

.grey-card-image {
    background-color: #96C67F;

}

.green-card-image {
    background-color: #F8F8F8;

}

section {
    margin-left: 120px;
    margin-right: 80px;
    padding-top: 100px;
}

.container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.bg-left {
    background-color: #96C67F;
    border-radius: 20px;
    height: 643px;
    width: 100%;
    position: relative;
}

.first-image,
.second-image {
    position: absolute;
}

.first-image {
    height: auto;
    top: 60px;
    left: -49px;
    z-index: 1;
}

.second-image {
    height: auto;
    bottom: 230px;
    left: 130px;
}

.right-text {
    flex-grow: 1;
}

.right-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 61.28px;
}

.right-text p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}